
body{
    background-color: #EDEEF0;
}

.navbar {
    background-color: #303B44;
    color: white;
}

.navbar a {
    color: white;
}

img{
    max-width: 100%;
    max-height: auto;
 /*properties*/
}

.journal-note {
    max-width: 100%;
    background-color: #FFFFFF;
    width: auto;
    margin: 10px;
    padding: 1%;
    border-radius: 5px;
}

.journal-note p {
    box-sizing: border-box;
}


.initials {
    color: rgb(65, 75, 80); 
    border-bottom: rgb(200, 200, 200) solid 1px;

}
.authorname{
    font-weight: bold;
}
.datepub {
    font-size: small;
    padding-left: 5px;
    color: rgb(119, 119, 119);
}
